@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);


$divBg: rgba(217, 255, 255, .8);

html,
body {
  background-color: #188FAD;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 300px;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid rgba(41, 18, 168, 0.86);
  background-color: $divBg;
}

#description {
  text-align: center;
}

.rowTab {
  margin-left: auto;
  margin-right: auto;
}

#img {
  width: 20%;
  height: auto;
  margin-bottom: 10px;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

#form-outer {
  background-color: $divBg;
  margin: 0 auto;
  border-radius: 4px;
  width: 90%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

.tlabels {
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.trightTab {
  vertical-align: middle;
}

.labels {
  display: block;
  text-align: center;
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.rightTab {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.input-field {
  height: 20px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background-color: rgba(217, 255, 255, .7);
}

#userAge {
  width: 40px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
  background-color: rgba(217, 255, 255, .7);
}

#submit {
  background-color: #001BA6;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

#submit:hover {
  background-color: #2409B2;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 42px;
  width: 98px;
  margin: 10px;
  border: 0px solid;
}

.dropdown {
  height: 35px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background-color: rgba(217, 255, 255, .7);
}

.radio, .checkbox {
  position: relative;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

.second {
  margin-left: 20px;
}

@media (min-width: 520px) {
  h1 {
    width: 60%;
    font-size: 24px;
  }
  
  #img {
    width: 30%;
  }

  .tlabels {
    width: 30%;
    display: inline-block;
    text-align: right;
  }

  .trightTab {
    display: inline-block;
    text-align: left;
    width: 60%;

    .input-field {
      width: 60%;
    }
  }

  .radio, .checkbox {
    left: -43px;
  }

  .rightTab {
    width: 70%;
    padding: 10px;

    .radioBtn {
      margin-top: 10px;
      display: inline-block;
    }
  }

  .dropdown {
    width: 60%;
  }

  input[type="radio"] {
    width: 2em;
    height: 18px;
    vertical-align: middle;
  }

  #types {
    width: 50%;
  }
}

@media (max-width: 519px) {
  h1 {
    width: 80%;
    font-size: 18px;
  }

  #img {
    width: 40%;
  }

  .trightTab {

    .input-field {
      width: 90%;
      margin-top: 0px;
    }
  }

  input[type="radio"] {
    width: 2em;
    height: 32px;
    vertical-align: middle;
  }

  input[type="checkbox"] {
    width: 1.5em;
    height: 20px;
    vertical-align: middle;
  }

  #dropdown {
    width: 80%;
  }

  .radio, .checkbox {
    width: 100%;
  }

  .rightTab {
    .radioBtn {
      display: inline-block;
    }

    label {
      vertical-align: middle;
    }

    padding: 10px;
  }

  #types {
    width: 90%;
    padding: 0px;
  }
}

/*
@media screen and (max-width: 520px) {

  h1 {
    width: 80%;
  }

  .labels {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  .rightTab {
    width: 90%;
    //float: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .tlabels {
    width: 100%;
    text-align: left;
  }
  .trightTab {
    width: 80%;
    float: left;
  }

  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}
*/